/* $grid-breakpoints: ( md:600px, lg:1000px, xl: 1500px);
$container-max-widths: ( md:599px, lg: 999px, xl:1499px); */

$grid-breakpoints: ( xs: 320px, sm: 480px, md:600px, lg:1000px, xl: 1500px) !default;
$container-max-widths: ( xs: 319px, sm: 479px, md:479px, lg: 899px, xl:1499px) !default;
// xs: 568px, sm: 667px
